<!-- <router-outlet></router-outlet> -->

<!-- <app-chat-list></app-chat-list> -->

<!-- <app-header></app-header> -->

<!-- <app-chat-body></app-chat-body> -->

<!-- <app-chat-info></app-chat-info> -->


<div class="container-fluid">
    <div class="chat__list">
        <app-chat-list></app-chat-list>
    </div>
    <div class="chat__header">
        <app-header></app-header>
        <div class="chat__body">
            <app-chat-body></app-chat-body>
        </div>
    </div>

    <div class="chat__info">
        <app-chat-info></app-chat-info>
    </div>
</div>